NODE_ENV=development
PORT=3000
ORIGIN=http://localhost:3000

COOKIE_SECRET=# random key used for signing cookies

DISCORD_CLIENT_ID=# Discord app client secret
DISCORD_CLIENT_SECRET=# Discord app client secret
DISCORD_GUILD_ID=# Discord server ID
DISCORD_WEBHOOK_URL=# URL for sending notification webhooks

