NODE_ENV=development
PORT=3000

DISCORD_CLIENT_ID=# Discord app client secret
DISCORD_CLIENT_SECRET=# Discord app client secret
DISCORD_GUILD_ID=# Discord server ID

BETTER_AUTH_SECRET=# <generate-a-secret-key> (e.g. D27gijdvth3Ul3DjGcexjcFfgCHc8jWd)
BETTER_AUTH_URL=# <url-of-your-server> (e.g. http://localhost:1234)
