@import "tailwindcss";
@import "basecoat-css";

@theme {
  --color-not-present: #262626;
  --color-present: #facc15;
  --color-correct: #84cc16;
}

:root.dark {
  --background: #1c1b22;
  --foreground: #fbfbfe;
}
